<div class="long-content mt-5 pt-3 current-bg">
  <div class="container mb-5">
    <div class="row">
      <div class="col-lg-10">
        <h3>Welcome to the Battle Club's Monthly Online Festival!</h3>
        <h4>Main Event - 1on1 Tournament</h4>
        <p>
          Bring your best deck and prove that you're the best!<br>
          This event was made possible by the support from the folks at <a target=”_blank” href="https://cardboardcollectible.com/">CardboardCollectible</a>!
        </p>
        <h5>Time and Place</h5>
        <table class="table">
          <tr>
            <th scope="col">Date</th>
            <td>Saturday, 24 September 2022</td>
          </tr>
          <tr>
            <th scope="col">Time</th>
            <td>17.00 (CEST) / 22.00 (JKT/BKK) /</td>
          </tr>
          <tr>
            <th scope="col"></th>
            <td>23.00 (HK/SG/MY) / 08.00(PT)</td>
          </tr>
          <tr>
            <th scope="col">Place</th>
            <td><a class="btn btn-warning" target=”_blank” href="https://discord.gg/eHNEqjFC9D" role="button">BS Battle Club Discord Server</a></td>
          </tr>
          <tr>
            <th scope="col">Fee</th>
            <td>SGD5 <a href="https://cardboardcollectible.com/products/event-bs-24-09">Register here</a>
          </tr>
          <tr>
            <th scope="col">Prize</th>
            <td>
              <b>1st place</b> SGD15 CardboardCollectible.com Store Credit +<br> 1 PX22-03 Nishimiya Toya +<br> P22-02 Mimizukku (Revival) +<br> 3 BS52-067 Penetrate Flame (Evangelion Unit-01 Alternate Art)
              <br><b>2nd place</b> SGD10 CardboardCollectible.com Store Credit +<br> 3 P22-02 Mimizukku (Revival) +<br> 3 BS52-067 Penetrate Flame (Evangelion Unit-01 Alternate Art)
              <br><b>3rd place</b> SGD5 CardboardCollectible.com Store Credit +<br> 2 P22-02 Mimizukku (Revival) +<br> 2 BS52-067 Penetrate Flame (Evangelion Unit-01 Alternate Art)
              <br><b>4th place</b> SGD3 CardboardCollectible.com Store Credit +<br> 1 P22-02 Mimizukku (Revival) +<br> 1 BS52-067 Penetrate Flame (Evangelion Unit-01 Alternate Art)
              <br><b>Lucky Draw</b> SGD3 CardboardCollectible.com Store Credit for 4 winners
              <br>*Prize structures are subject to change to number of participation
              <br>**Promo cards would be shipped internationally to the winners at no additional cost
              <br>***Lucky Draw are for individual winners not in the Top 4
            </td>
          </tr>
        </table>
        <h2>Tournament Rules</h2>
        <ol>
          <li>
            The tournament format is <b>Swiss round</b>
            <br>Each round will be played in a best-of-1 format
            <br>The time limit for each round is 40 minutes
            <br>The next round may start earlier if all players have finished their rounds and are ready for the next round
            <br>In case of a timeout, the official Battle Spirits Tie Breaker rule would be applied (you can check the details <a href="http://en.battlespirits.com/rule/regulation.php">here</a>)
            <br>as such, please notify the @mods if you need to leave briefly (such as to find lunch or toilet)
          </li>
          <li>
            If you need any assistance, please contact the mods by mentioning <b>@mods</b> in the <b>#tournament-lobby</b>, we will try to assist you as soon as possible
          </li>
          <li>
            Prior RSVP is needed to join the tournament
            <br>You can do so by purchasing the tournament ticket <a href="https://cardboardcollectible.com/products/event-bs-24-09">here</a>
            <br>Please create a CardboardCollectible account when purchasing the ticket to ease prize distribution after the event
            <br>Please include your Discord Tag in the Checkout Note to ease the registration process
            <br>Registration is closed on 23 September 19:00 (CEST)
            <br>*The lists will be checked by a member of the moderator team that might join the tournament. However, please rest assured that an NDA is in place.
          </li>
          <li>
            Please make sure you can position your camera to cover your whole field <i>(You can use the following photo as a reference)</i><br>
            <img src="/assets/images/ot-field-sample.jpg" style="width: 100%;height: 100%;">
          </li>
          <li>
            Make sure that cards in your hand and deck is always visible on camera
            <img src="/assets/images/ot-hand-sample.jpg" style="width: 100%;height: 100%;">
          </li>
          <li>You are required to use table shuffling in your last shuffle</li>
          <li>You may spectate other tables when your match is done. However, make sure that your microphone is muted.</li>
          <li>
            You may not make any changes to your deck during the tournament
          </li>
          <li>
            For use of Rebirth cards, you may use <b>printed</b> proxy
            <br>*The proxy could only act as a replacement for the official checklist cards, as such it need to be switched with the original card from outside your deck when played
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
