<div class="long-content mt-5 pt-3 current-bg">
  <div class="container mb-5">
    <div class="row">
      <div class="col-lg-10">
        <h3>Welcome to the Battle Club's Monthly Online Festival</h3>
        <h4>Main Event - 1on1 Tournament</h4>
        <p>
          Team up with two of your friends and win together!<br>
          This event was made possible by the support from the folks at <a target=”_blank” href="https://cardboardcollectible.com/">CardboardCollectible</a>!
        </p>
        <h5>Time and Place</h5>
        <table class="table">
          <tr>
            <th scope="col">Date</th>
            <td>Saturday, 19 March 2022</td>
          </tr>
          <tr>
            <th scope="col">Time</th>
            <td>08.00 (CET) / 14.00 (JKT/BKK) /</td>
          </tr>
          <tr>
            <th scope="col"></th>
            <td>15.00 (HK/SG/MY) / 23.00 D-1 (PT)</td>
          </tr>
          <tr>
            <th scope="col">Place</th>
            <td><a class="btn btn-warning" target=”_blank” href="https://discord.gg/eHNEqjFC9D" role="button">BS Battle Club Discord Server</a></td>
          </tr>
          <tr>
            <th scope="col">Fee</th>
            <td>SGD15 TBA
          </tr>
          <tr>
            <th scope="col">Prize</th>
            <td>
              <<b>1st place</b> SGD15 CardboardCollectible.com Store Credit +<br> 1 PX21-005 The White Core Bearer of Light Gallet Revolt +<br> P21-17 The Headless Knight Durahan (Revival) +<br> 3 P21-14 Battle Spirits Mirage
              <br><b>2nd place</b> SGD10 CardboardCollectible.com Store Credit +<br> 2 P21-17 The Headless Knight Durahan (Revival) +<br> 2 P21-14 Battle Spirits Mirage
              <br><b>3rd place</b> SGD5 CardboardCollectible.com Store Credit +<br> 1 P21-17 The Headless Knight Durahan (Revival) +<br> 1 P21-14 Battle Spirits Mirage
              <br><b>Lucky Draw</b> SGD3 CardboardCollectible.com Store Credit for 2 winners
              <br>*Prize structures are subject to change to number of participation
              <br>**Promo cards would be delivered to the winners at no additional cost
            </td>
          </tr>
        </table>
        <h2>Tournament Rules</h2>
        <ol>
          <li>
            The tournament format is <b>Swiss round</b>
            <br>Each round will be played in a best-of-1 format
            <br>The time limit for each round is 40 minutes
            <br>The next round may start earlier if all players have finished their rounds and are ready for the next round
            <br>In case of a timeout, the official Battle Spirits Tie Breaker rule would be applied (you can check the details <a href="http://en.battlespirits.com/rule/regulation.php">here</a>)
            <br>as such, please notify the @mods if you need to leave briefly (such as to find lunch or toilet)
          </li>
          <li>
            If you need any assistance, please contact the mods by mentioning <b>@mods</b> in the <b>#tournament-lobby</b>, we will try to assist you as soon as possible
          </li>
          <li>
            Prior RSVP is needed to join the tournament
            <br>You can do so by purchasing the tournament ticket TBA
            <br>Please create a CardboardCollectible account when purchasing the ticket to ease prize distribution after the event
            <br>Please include your Team Name and your Team Members' Discord Tag in the Checkout Note to ease the registration process
            <br>Registration is closed on February 11th 19:00 (CET)
          </li>
          <li>
            Please make sure you can position your camera to cover your whole field <i>(You can use the following photo as a reference)</i><br>
            <img src="/assets/images/ot-field-sample.jpg" style="width: 100%;height: 100%;">
          </li>
          <li>
            Make sure that cards your hand and deck is always visible on camera
            <img src="/assets/images/ot-hand-sample.jpg" style="width: 100%;height: 100%;">
          </li>
          <li>You are required to use table shuffling in your last shuffle</li>
          <li>You may spectate other tables when your match is done. However, make sure that your microphone is muted.</li>
          <li>
            You may not make any changes to your deck during the tournament
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
