<header class="bg-secondary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Welcome to the <b>/Alter Sphere</b></h1>
        <p class="lead">
            They said good things comes to those who wait...
        </p>
        <p>
            But what if you have to wait in a world where time has stopped for you?
        </p>
    </div>
</header>

<section id="intro">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center text-center">
            <div class="col-lg-8">
                <h2>Story</h2>
                <p>For its inhabitants, it has always been their own world, but for its many <b>Visitors</b>, they eventually called this world the <b>Alter Sphere</b></p>
                <p>The <b>Alter Sphere</b> "invited" <b>Visitors</b> humans and mythical beasts alike.</p>
                <p>The world was kind to the humans, mild to most beasts, but cruel to stronger beasts as their powers are sealed in the <b>Alter Tablets</b>, putting them under the control of their human counterparts.</p>
                <p>But time has stopped for them all equally, with no rhyme or reason, no rule or ruler.</p>
                <p>Perhaps it is an error of this world or a new test for its inhabitants in their newfound peace.</p>
                <p>Dear young <b>Visitor</b>...</p>
                <p>With eternity in your hand, will you choose the path of <b>"Coexistence"</b> or trample your hosts in a <b>"Conquest"</b>?</p>

            </div>
        </div>
    </div>
</section>