<header class="bg-success bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Tea Time Gaming</h1>
        <p class="lead">
            Where the Funny Accented Card-playing Indonesian and his friends plays one of Japan's most popular Trading Card Game <b>"Battle Spirits"</b>!
            <br>...and anything with waifus in it!
            <br><b>Wherever you are in this wide world, we wish you a nice day!</b>
        </p>
        <p>Check us out on: </p>
        <a class="btn btn-lg btn-danger" target="_blank" href="https://www.youtube.com/teatimegamingba"><i class="bi bi-youtube"></i></a>
        <a class="btn btn-lg btn-dark ms-1" target="_blank" href="https://x.com/TTGNavi"><i class="bi bi-twitter-x"></i></a>
        <a class="btn btn-lg btn-primary ms-1" target="_blank" href="https://www.facebook.com/gaming/proteacgaming"><i class="bi bi-facebook"></i></a>
    </div>
</header>

<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>What do we do in Tea Time Gaming?</h2>
                <p class="lead">Tea Time Gaming is a YouTube channel dedicated to our Tabletop Sport (T-Sport) endeavors to share the game we enjoy and hopefully hopefully help you to enjoy the game better!</p>
                <h5>Regular Contents</h5>
                <div>
                    <h6>Battle Spirits Episodes</h6>
                    <p>
                        Whether it is introducing our favorite decks or our favorite friends, there is only one true way: Battle Spirits!
                    </p>
                    <div class="container ratio ratio-16x9 w-75 text-center">
                        <iframe src="https://www.youtube.com/embed/videoseries?si=Wsh8GLHgdlTiA2sS&amp;list=PLfZRVs4beJ3nctL_nl1FscLrkY7Dl2oFk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div>
                    <h6>Casually BSS</h6>
                    <p>
                        We are all technically Battle Spirits Saga Pro Players given that we have all received money from BSS at some point, but sometimes we want to let loose, and that is what Casually BSS is all about!
                    </p>
                    <div class="container ratio ratio-16x9 w-75 text-center">
                        <iframe src="https://www.youtube.com/embed/videoseries?si=RXEX8kg1GlweJZd9&amp;list=PLfZRVs4beJ3n_JbDx56Kp3fryfjYIzMr5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div>
                    <h6>Skits</h6>
                    <p>
                        We might not be the funniest on the internet, but hey, at least we laughed at our own jokes(?)
                    </p>
                    <div class="container ratio ratio-16x9 w-75 text-center">
                        <iframe src="https://www.youtube.com/embed/videoseries?si=gt7Uv9COfaiKZRr4&amp;list=PLfZRVs4beJ3nOwDHSzC-9W4HPQsySfSyy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div>
                    <h6>The Refresh Step Podcast</h6>
                    <p>The Refresh Step is a weekly food podcast that tries to pretend that it's talking about TCG. Theo and Ayumu always tried their best at staying focused, but their best is never enough...</p>
                    <div class="container ratio ratio-16x9 w-75 text-center">
                        <iframe src="https://www.youtube.com/embed/videoseries?si=qh6tU2LFk9BKD06e&amp;list=PLfZRVs4beJ3ljLVVWIwXaGbq8R_zzin2J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <h5>Mascot</h5>
                <div class="container text-center">
                    <picture>
                        <source srcset="images/chaos_caith_portrait.webp" type="image/webp">
                        <source srcset="images/chaos_caith_portrait.png" type="image/png">
                        <img class="img-fluid img-thumbnail justify-content-center" src="images/chaos_caith_portrait.png" style="width: 200px;">
                    </picture>
                </div>
                <p>
                    Her name is <b>Caithlyn Luna</b>, a talented card game newbie who couldn't chose the wrongest teacher to improve in card games: Theo. She ended up teasing him a lot for that though.
                </p>
                <p>
                    You'd see Caithlyn almost everywhere in all shapes and sizes, as she manages the channel's Twitter <a href="/tea-time-gaming#navi">TTG Navi</a> and is the main character of <a href="/alter-sphere">/Alter Sphere</a>. She can occasionally gain sentience and make her own videos.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="projects">
    <div class="container px-4 bg-secondary-subtle">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8 mt-2 mb-3">
                <h2>Our Big Projects</h2>
                <p class="lead">Sometimes we want to do more and splurge a bit more effort.<br>Here are the bigger projects we've done so far:</p>
                <div>
                    <h5>Battle Spirits World Clash (2021)</h5>
                    <p>
                        As part of the Global Battle Spirits Project initiative, we collaborated with Content Creators and top players from Indonesia, Malaysia, Singapore, and Japan to see which country is the best when it comes to Battle Spirits...
                        <br>That is the <b>Battle Spirits World Clash</b>!
                    </p>
                    <div class="container ratio ratio-16x9 w-75 text-center">
                        <iframe src="https://www.youtube.com/embed/videoseries?si=8OnyvDUknp44TW1b&amp;list=PLfZRVs4beJ3koSxOMxyoIcDdV8eQCDqC6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="navi">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>TTG Navi</h2>
                <p class="lead">Do follow us on Twitter where we'd post recent videos and Battle Spirits tournament results from South East Asia!</p>
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/TTGNavi?ref_src=twsrc%5Etfw">Tweets by TTGNavi</a>
            </div>
        </div>
    </div>
</section>

<section id="members">
    <div class="container px-4 bg-secondary-subtle">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8 mt-2 mb-3">
                <h2>Meet the Boys</h2>
                <div class="card-columns">
                    <div class="card" style="width: 15rem; display: inline-block;">
                        <img class="card-img-top" src="images/theo.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Theodore Lu</h5>
                            <p class="card-text">Played TCG for too long and is basically staying because of Stockholm Syndrome. Allegedly he used to win the nationals for Cardfight Vanguard in 2015 and Battle Spirits in 2019. But anything that he is today, is a husk of his former self...</p>
                            <p><b>Main Games:</b> Battle Spirits, Battle Spirits Saga</p>
                            <a class="btn btn-lg btn-danger" target="_blank" href="https://www.youtube.com/teatimegamingba"><i class="bi bi-youtube"></i></a>
                            <a class="btn btn-lg btn-dark ms-1" target="_blank" href="https://x.com/spvmaster"><i class="bi bi-twitter-x"></i></a>
                        </div>
                    </div>
                    <div class="card ms-2 p-3" style="width: 15rem; display: inline-block;">
                        <img class="card-img-top" src="images/ayumu.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Ayumu Seiki</h5>
                            <p class="card-text">Played over 10+ TCGs because why not. He's one of the admins of the English Battle Spirits Wiki and is everywhere where people needed him to clarify the complicated rulings of Battle Spirits. Champion of the first ever European Battle Spirits Saga Grand Open in 2023.</p>
                            <p><b>Main Games:</b> Battle Spirits, Pokemon TCG, Battle Spirits Saga</p>
                            <a class="btn btn-lg btn-danger" target="_blank" href="https://www.youtube.com/@AyumuBSseminar"><i class="bi bi-youtube"></i></a>
                            <a class="btn btn-lg btn-dark ms-1" target="_blank" href="https://x.com/AyumuSeiki"><i class="bi bi-twitter-x"></i></a>
                        </div>
                    </div>
                    <div class="card ms-2 p-3" style="width: 15rem; display: inline-block;">
                        <img class="card-img-top" src="images/amamiya.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Amamiya Akechi</h5>
                            <p class="card-text">The merrymaker that is absolute everywhere with energy that can reanimate the dead horse. That is until he remembered that he's still German on the inside.</p>
                            <p><b>Main Games:</b> Battle Spirits, Battle Spirits Saga, Yu-Gi-Oh!</p>
                            <a class="btn btn-lg btn-dark ms-1" target="_blank" href="https://x.com/AmamiyaAkechi"><i class="bi bi-twitter-x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="battleclub">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Battle Spirits Battle Club</h2>
                <p class="lead">Our "Secret" Club in Discord where we play Battle Spirits every month in the Monthly Online Festival, the festival to end all festival.</p>
                <p>Well, it's not that grim, for the most part it's just a bunch of chill people playing Battle Spirits together.</p>
                <a class="btn btn-lg btn-dark" target="_blank" href="https://discord.com/invite/fUvGQSp"><i class="bi bi-discord"></i></a>
            </div>
        </div>
    </div>
</section>