<header class="bg-success bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Welcome to <b>PROTEAC</b>!</h1>
        <p class="lead">I'm Theodore Lu and I'd be hosting your visit today, tomorrow, and the forseeable future!</p>
        <p><i>And yes, green is my favorite color, how can you tell?</i></p>
    </div>
</header>

<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>What is PROTEAC?</h2>
                <p class="lead">PROTEAC is the umbrella project for all of my online activities where I might or might not drag my friends into.</p>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-lg btn-primary" href="#dev">Dev Profile</a>
                    <a class="btn btn-lg btn-primary ms-1" href="#creative">Creative Profile</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="dev">
    <div class="container px-4 bg-secondary-subtle">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8 mt-2 mb-3">
                <h2>Theodore Lu as a Software Developer</h2>
                <p class="lead">
                    I'm technically a <b>Software Engineer</b> by trade for <b>over 5 years</b>, mainly working as a <b>Full Stack Developer</b>, ready to adapt to your tech stack!
                </p>
                <ul>
                    <li><b>Tech Stack:</b> Java, JavaScript, HTML, CSS, MySQL</li>
                    <li><b>Professional Interests:</b> Web Development, Game Development</li>
                    <li><b>Research Interests:</b> Computer Vision, Gamification, Digitalization</li>
                </ul>
                <p>Let's connect!</p>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-lg btn-primary" target="_blank" href="https://www.linkedin.com/in/theodore-lumaksono-682524ba/"><i class="bi bi-linkedin"></i></a>
                    <a class="btn btn-lg btn-primary ms-1" target="_blank" href="https://github.com/theodorelu27"><i class="bi bi-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="creative">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8 mt-2 mb-3">
                <h2>Theodore Lu as a "Creative Person"</h2>
                <p class="lead">
                    I wouldn't describe myself as a creative person per se since I just really really like to daydream a lot with not enough writing, but until we can find a better term, let's say this section covers my creative works and interests.
                </p>
                <ul>
                    <li><b>Areas of Interest:</b> Fiction Writing, Video Creation, Game Development</li>
                    <li><b>Topics of Interest:</b>Trading Card Game, Video Game, Cooking, Traveling</li>
                </ul>
                <h5>Current Projects</h5>
                <div>
                    <h6>Tea Time Gaming</h6>
                    <p>
                        A YouTube channel that is arguably the current main driver of PROTEAC. In Tea Time Gaming, me and my friends talk mainly about the Japanese Trading Card Game <b>Battle Spirits</b> and the lifestyle of a TCG player. We sometime stream ourselves playing video games too.
                    </p>
                    <ul>
                        <li><b>Role:</b> Producer, Video Editor</li>
                        <li>
                            <b>Links:</b> 
                            &nbsp;<a href="/tea-time-gaming">Tea Time Gaming</a> 
                            &nbsp;<a href="https://www.youtube.com/teatimegamingba" target="_blank">YouTube</a>
                            &nbsp;<a href="https://x.com/TTGNavi" target="_blank">Twitter</a>
                            &nbsp;<a href="https://www.facebook.com/gaming/proteacgaming" target="_blank">Facebook</a>

                        </li>
                    </ul>
                </div>
                <div>
                    <h6>Tea Time Gaming/Alter Sphere</h6>
                    <p>
                        The Alter Sphere is a lore project for the characters behind Tea Time Gaming. It is an alternate canon that is loosely based on the actual members of Tea Time Gaming.
                    </p>
                    <ul>
                        <li><b>Role:</b> Storywriter</li>
                        <li>
                            <b>Links:</b> 
                            &nbsp;<a href="/alter-sphere">/Alter Sphere</a> 
                        </li>
                    </ul>
                </div>
                <h5>Previous Projects</h5>
                <div>
                    <h6>Sword of August: Road to Independence</h6>
                    <p>
                        Bullet Hell Shoot 'em Up game born as we try to mix Raiden, Visual Novel, and almost everything we were interested in that moment, where you upgrade your experimental fighter plane to power through the stages.
                    </p>
                    <ul>
                        <li><b>Role:</b> Storywriter</li>
                        <li><b>Links:</b> &nbsp;<a href="https://stellarnull.itch.io/soa" target="_blank">itch.io</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>