
  <div class="long-content mt-5 pt-3 current-bg">
    <div class="container mb-5">
      <div class="row">
        <div class="col-lg-10">
          <img src="/assets/images/world clash.png" style="margin-top:10px; width: 100%;">
          <h1>World Clash</h1>
          <mat-tab-group>
            <mat-tab label="ENG">
              <p>
                <b>Battle Spirits World Clash</b> is Tea Time Gaming's newest program where two unique pro teams from around the world duke it out against each other to prove themselves to be the best teams there is.
              </p>
              <iframe src="https://www.youtube.com/embed/wvldrtEa0Rk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="width:100%; max-width: 560px; min-height: 315px;"></iframe>
              <div>
                <h2>Participants</h2>
                <div>
                  Each team consisted of 3 people from the same country of origin or residence.<br>
                  Battle Spirits World Clash is an <b>invite only</b> program.
                </div>
                <div style="margin-top: 5px;">
                  <h3>Team Cipher (JP)</h3>
                  <p>Formerly known as [Team Xeno], spearheaded by Yuru, they are a team of unique personalities that ancentuates Japanese undying spirit!</p>
                  <p>Each member are called "Core Guardians" specializing in each colors of Battle Spirits.</p>
                  <p>
                    Members:
                  </p>
                  <ul>
                    <li>九尾ゆる (Leader)</li>
                    <li>ナイス</li>
                    <li>Bp-さん</li>
                    <li>ようすけのとうちゃん</li>
                    <li>ぽめ氏</li>
                    <li>ムラマサ</li>
                  </ul>
                </div>
                <div style="margin-top: 5px;">
                  <h3>Team Crossbone (SG)</h3>
                  <p>The Battle Spirits team of CVGS of Singapore, boasting the most number of members with a wide network of players making them a force to reckon with.</p>
                  <p>
                    Members:
                  </p>
                  <ul>
                    <li>Brendan</li>
                    <li>Kal</li>
                    <li>ShadowCosmic</li>
                    <li>Leon</li>
                    <li>Dempster</li>
                    <li>JJ</li>
                  </ul>
                </div>
                <div style="margin-top: 5px;">
                  <h3>Team Apex (MY)</h3>
                  <p>The Malaysian champion team led by Wilson, who also leads his team to victory on Malaysia's 3v3 Nationals.</p>
                  <p>Growing in the fiercest environment in South East Asia, they are indeed the Apex predators on the hunt.</p>
                  <p>
                    Members:
                  </p>
                  <ul>
                    <li>Wilson (Leader)</li>
                    <li>Ray</li>
                    <li>Klinth</li>
                    <li>Kenji</li>
                    <li>Wing Hong</li>
                  </ul>
                </div>
                <div style="margin-top: 5px;">
                  <h3>Team Chameleons (ID)</h3>
                  <p>The Indonesian champion team led by Theodore Lu, Indonesia's first National Champion.</p>
                  <p>Gathering the best unique talents from the budding community, they will use everything on their disposal to trample their competitions.</p>
                  <p>
                    Members:
                  </p>
                  <ul>
                    <li>Theodore Lu (Leader)</li>
                    <li>Fikri</li>
                    <li>Narukami</li>
                    <li>Hadyan</li>
                  </ul>
                </div>
                <h2 class="mt-4">Deck Construction Regulation</h2>
                <div>
                  In addition to the official deck construction regulations, all teams are required to adhere to the following rules:
                  <ol>
                    <li>
                      Each team can only bring a total of 3 cards with the same name.
                      <br><i>Only 1 card from the "Restricted to 1 List can be used per team.</i>
                      <br><i>Only 20 cards from the "Restricted to 20 List can be used per team.</i>
                    </li>
                    <li>
                      Only cards that have been released and distributed by the Live Stream Date
                    </li>
                  </ol>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="日本語">
              <p>
                世界中から来た二つのチームが一番のチームを証明するために激突する！<br>
                それは<b>「Battle Spirits World Clash」</b>、Tea Time Gamingの新生配信番組！
              </p>
              <iframe src="https://www.youtube.com/embed/wvldrtEa0Rk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="width:100%; max-width: 560px; min-height: 315px;"></iframe>
              <div>
                <h2>参加者について</h2>
                <div>
                  各チームは同じ原産国や居住国方々3人.<br>
                  「Battle Spirits World Clash」は招待限定番組なので、参加するために、TeaTimeGamingからの招待状が必要です.
                </div>
                <h2>使用デッキのルール</h2>
                <div>
                  「Battle Spirits World Clash」で使ったデッキは、公式ルールに加え、こちらのルールで作ります:
                  <ol>
                    <li>
                      各チームは同じカード名前のカードは3枚しか使えない.
                      <br><i>＜1＞に制限するカードは1チーム1枚までしか使えない．</i>
                      <br><i>＜20＞に制限するカードは1チーム20枚までしか使えない．</i>
                    </li>
                    <li>
                      配信日まで発売・配布されたカードしか使えない
                    </li>
                  </ol>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
