
  <div class="long-content current-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <img src="/assets/images/world clash.png" style="width: 100%;">
          <h1 class="mt-5">World Clash</h1>
          <mat-tab-group>
            <mat-tab label="ENG"> Content 1 </mat-tab>
            <mat-tab label="日本語"> Content 2 </mat-tab>
          </mat-tab-group>
          <a class="btn btn-success" target=”_blank” href="https://www.youtube.com/teatimegamingba?sub_confirmation=1" role="button">Subscribe to Tea Time Gaming</a>
        </div>
      </div>
    </div>
  </div>
