
  <div class="long-content mt-5 pt-3 current-bg">
    <div class="container mb-5">
      <div class="row">
        <div class="col-lg-10">
          <img src="/assets/images/world clash.png" style="margin-top:10px; width: 100%;">
          <h1>World Clash</h1>
          <mat-tab-group>
            <mat-tab label="ENG">
              <p>
                <b>Battle Spirits World Clash</b> is Tea Time Gaming's newest Live Stream program where two unique pro teams from around the world duke it out against each other to prove themselves to be the best teams there is.
              </p>
              <iframe src="https://www.youtube.com/embed/7kdCYCi_Upc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="width:100%; max-width: 560px; min-height: 315px;"></iframe>
              <h2>Next Episode</h2>
              <div>
                <b>Battle Spirits World Clash Exhibition Match: Team Chameleons(ID) vs Team Xeno(JP)</b><br>
                <table class="table">
                  <tr>
                    <th scope="col">Date</th>
                    <td>Friday, 22 January 2021</td>
                  </tr>
                  <tr>
                    <th scope="col">Time</th>
                    <td>14.00 (CET) / 20.00 (JKT/BKK) / 21.00 (HK/SG/MY) / 05.00 (PST)</td>
                  </tr>
                </table>
                <h2>Participants</h2>
                <div>
                  Each team consisted of 3 people from the same country of origin or residence.<br>
                  Battle Spirits World Clash is an <b>invite only</b> program.
                </div>
                <h2>Deck Construction Regulation</h2>
                <div>
                  In addition to the official deck construction regulations, all teams are required to adhere to the following rules:
                  <ol>
                    <li>
                      Each team can only bring a total of 3 cards with the same name.
                      <br><i>Only 1 card from the "Restricted to 1 List can be used per team.</i>
                      <br><i>Only 20 cards from the "Restricted to 20 List can be used per team.</i>
                    </li>
                    <li>
                      Only cards that have been released and distributed by the Live Stream Date
                    </li>
                  </ol>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="日本語">
              <p>
                世界中から来た二つのチームが一番のチームを証明するために激突する！<br>
                それは<b>「Battle Spirits World Clash」</b>、Tea Time Gamingの新生配信番組！
              </p>
              <iframe src="https://www.youtube.com/embed/7kdCYCi_Upc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="width:100%; max-width: 560px; min-height: 315px;"></iframe>
              <h2>配信について</h2>
              <div>
                <b>Battle Spirits World Clash エキシビションマッチ: Team Chameleons(ID) vs Team Xeno(JP)</b><br>
                <table class="table">
                  <tr>
                    <th scope="col">日</th>
                    <td>2021年1月22日（金）</td>
                  </tr>
                  <tr>
                    <th scope="col">時間</th>
                    <td>22.00 (JST)</td>
                  </tr>
                </table>
                <h2>参加者について</h2>
                <div>
                  各チームは同じ原産国や居住国方々3人.<br>
                  「Battle Spirits World Clash」は招待限定番組なので、参加するために、TeaTimeGamingからの招待状が必要です.
                </div>
                <h2>使用デッキのルール</h2>
                <div>
                  「Battle Spirits World Clash」で使ったデッキは、公式ルールに加え、こちらのルールで作ります:
                  <ol>
                    <li>
                      各チームは同じカード名前のカードは3枚しか使えない.
                      <br><i>＜1＞に制限するカードは1チーム1枚までしか使えない．</i>
                      <br><i>＜20＞に制限するカードは1チーム20枚までしか使えない．</i>
                    </li>
                    <li>
                      配信日まで発売・配布されたカードしか使えない
                    </li>
                  </ol>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
