
  <div class="current-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="mt-5">Tea Time Gaming</h1>
          <p>Indonesia and Germany-based Tabletop Gaming Channel!
          </p>
          <p>
            We focus on one of Japan's most popular Trading Card Game "Battle Spirits"!
          <br>
            ...and all other stuffs that happened to caught our attention
          </p>
          <p>
            We're also a regular National Tournament broadcaster for both Battle Spirits and Cardfight!! Vanguard tournament in Indonesia!
          </p>
          <p>
            Wherever you are in this wide world, we wish you a nice day!
          </p>
          <a class="btn btn-success" target=”_blank” href="https://www.youtube.com/teatimegamingba?sub_confirmation=1" role="button">Subscribe to Tea Time Gaming</a>
        </div>
      </div>
    </div>
  </div>
