
  <div class="long-content mb-5 pb-5 current-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="mt-5">Tea Time Gaming</h1>
          <p>Indonesia and Germany-based Tabletop Gaming Channel!
          </p>
          <p>
            We focus on one of Japan's most popular Trading Card Game "Battle Spirits"!
          <br>
            ...and all other stuffs that happened to caught our attention
          </p>
          <p>
            We're also a regular National Tournament broadcaster for both Battle Spirits and Cardfight!! Vanguard tournament in Indonesia!
          </p>
          <p>
            Wherever you are in this wide world, we wish you a nice day!
          </p>
          <a class="btn btn-success" target=”_blank” href="https://www.youtube.com/teatimegamingba?sub_confirmation=1" role="button">Subscribe to Tea Time Gaming</a> &nbsp;
          <a class="btn btn-primary" target=”_blank” href="https://www.facebook.com/proteacgaming" role="button">Connect with us on Facebook</a>
          <h2>Our Shows</h2>
          <h3>Welcome to Battle Spirits Battle Club</h3>
          <div>
            <b>Welcome to Battle Spirits Battle Club</b> is our Live Stream show where we invite members from the Battle Spirits Battle Club to show how borders means nothing when you want to battle and have fun together!
            <br>More about the Battle Spirits Battle Club <a routerLink="/bs-battle-club">BS Battle Club</a>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLfZRVs4beJ3kgBVT_bu12FPwuEowzKRfX" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3>Battle Spirits Tea Party</h3>
          <div>
            <b>Battle Spirits Tea Party</b> is a show where we invite guests from all around to play Battle Spirits together.
            <br>Join us to discover new deck ideas and have fun!
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLfZRVs4beJ3nctL_nl1FscLrkY7Dl2oFk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
