
  <div class="long-content mt-5 pt-3 current-bg">
    <div class="container mb-5">
      <div class="row">
        <div class="col-lg-10">
          <h1>Tea Time Gaming</h1>
          <img src="/assets/images/caithlyn.png" style="margin:0 auto; max-width: 100%;">
          <p>Indonesia and Germany-based Tabletop Gaming Channel!
          </p>
          <p>
            We focus on one of Japan's most popular Trading Card Game "Battle Spirits"!
          <br>
            ...and all other stuffs that happened to caught our attention
          </p>
          <p>
            We're also a regular National Tournament broadcaster for both Battle Spirits and Cardfight!! Vanguard tournament in Indonesia!
          </p>
          <p>
            Wherever you are in this wide world, we wish you a nice day!
          </p>
          <a class="btn btn-success" target=”_blank” href="https://www.youtube.com/teatimegamingba?sub_confirmation=1" role="button">Subscribe to Tea Time Gaming</a> &nbsp;
          <a class="btn btn-primary" target=”_blank” href="https://www.facebook.com/proteacgaming" role="button">Connect with us on Facebook</a>
          <h2>Our Shows</h2>
          <h3>Battle Spirits World Clash</h3>
          <div>
            <b>Battle Spirits World Clash</b> is our newest addition to our Live Stream collection where we invite two pro Battle Spirits teams to prove who's the best!
            <br>More about the Battle Spirits World Clash <a routerLink="/tea-time-gaming/world-clash">Click Here!</a>
            <br><iframe src="https://www.youtube.com/embed/7kdCYCi_Upc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%; max-width: 560px; min-height: 315px;"></iframe>
          </div>
          <h3>Welcome to Battle Spirits Battle Club</h3>
          <div>
            <b>Welcome to Battle Spirits Battle Club</b> is our Live Stream show where we invite members from the Battle Spirits Battle Club to show how borders means nothing when you want to battle and have fun together!
            <br>More about the Battle Spirits Battle Club <a routerLink="/bs-battle-club">Click Here!</a>
            <br><iframe src="https://www.youtube.com/embed/videoseries?list=PLfZRVs4beJ3kgBVT_bu12FPwuEowzKRfX" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%; max-width: 560px; min-height: 315px;"></iframe>
          </div>
          <h3>Battle Spirits Tea Party</h3>
          <div>
            <b>Battle Spirits Tea Party</b> is a show where we invite guests from all around to play Battle Spirits together.
            <br>Join us to discover new deck ideas and have fun!
            <br><iframe src="https://www.youtube.com/embed/videoseries?list=PLfZRVs4beJ3nctL_nl1FscLrkY7Dl2oFk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%; max-width: 560px; min-height: 315px;"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
