  <div class="long-content mt-5 pt-3 current-bg">
    <div class="container mb-5">
      <div class="row">
        <div class="col-lg-10">
          <img src="/assets/images/sixth_anniversary_banner.png" style="margin-top:10px; width: 100%;">
          <mat-tab-group>
            <mat-tab label="ENG">
              <p>
                We have safely reached our 6th year!<br>
                So to celebrate and thank you for your support, we're currently runnning a giveaway to help you or your friends to start Battle Spirits together!<br>
                We have reached a lot of milestones and tried bunch of new things this year and we would not have been able to achieve all of those without your support, so once again, thank you!
              </p>
              <h2>How to Join</h2>
              <ol>
                <li>Follow this account on Twitter: @TTGNavi</li>
                <li>Retweet the main Tweet</li>
                <li>Reply to main Tweet with a screenshot of your subscription to Tea Time Gaming on YouTube</li>
                <li>Winners will be contacted via DM!</li>
              </ol>
              <h2>Giveaway Period</h2>
              <p>
                December 3rd 12:00 (GMT+1) – December 31st 23:59 (GMT+1)
              </p>
              <h2>Prize</h2>
              <ul>
                <li>1 Battle Spirits [SD60] Future of Purple Wings for 1 winner</li>
                <li>1 Battle Spirits [SD61] Memory of Silver for 1 winner</li>
                <li>1 Battle Spirits [SD52] Operation SEED for 1 winner</li>
                <li>1 Battle Spirits [SD53] Operation 00 for 1 winner</li>
                <li>1 Battle Spirits [SD54] Operation UC for 1 winner</li>
              </ul>
              <p>
                *Standard mail delivery with tracking will be provided to the winner<br>
                **Due to packaging limitations, the prize will be sent without the original packaging box
              </p>
              <h2>Terms and Condition</h2>
              <ol>
                <li>Please make sure that your account are able to receive DM from this account (@TTGNavi)</li>
                <li>We will be getting personal information in relation to delivery upon winning. <br>If you’re under legal age of consent, please make sure that you have your guardian’s permission before disclosing personal information. </li>
                <li>We will only contact the winner through DM from this account (@TTGNavi) <br>please note to not disclose your personal information to accounts that misrepresents Tea Time Gaming to obtain your personal information</li>
                <li>Winners that do not respond to contact with 5 business days may have their win invalidated and passed onto next winners.</li>
                <li>This giveaway is solely sponsored by Tea Time Gaming and is in no way related. Sponsored, nor represented by YouTube, Facebook, Twitter, or any platform where the giveaway is available for joining.</li>
                <li>Please note that this giveaway may be cancelled or changed due to unforeseen circumstances.</li>
              </ol>
            </mat-tab>
            <mat-tab label="日本語">
              <p>
                チャンネルは6歳になった!<br>
                みんなの応援の感謝として今年はバトスピをもっと楽しめるためにプレセント企画を開きます！<br>
                みんなさんのおかげで登録者数1000人超えましたし色々挑戦できるになったので本当にありがとうございました！
              </p>
              <h2>応募方法</h2>
              <ol>
                <li>このアカウント (@TTGNavi) をフォロー</li>
                <li>本ツイートをリツイート</li>
                <li>本のリプで私のYouTubeチャンネル(Tea Time Gaming)の登録画面のスクショを貼る</li>
                <li>当選者はDMでこのアカウントから連絡します</li>
              </ol>
              <h2>応募期間</h2>
              <p>
                2021年12月3日 20:00(日本時間) ー 2022年1月1日 07:59(日本時間)
              </p>
              <h2>プレゼントの内容</h2>
              <ul>
                <li>バトスピエントリデッキ[SD60]紫翼の未来 (1名様)</li>
                <li>バトスピエントリデッキ[SD61]白銀の記憶  (1名様)</li>
                <li>バトスピエントリデッキ[SD52]OPERATION SEED (1名様)</li>
                <li>バトスピエントリデッキ[SD53]OPERATION 00 (1名様)</li>
                <li>バトスピエントリデッキ[SD54]OPERATION uc (1名様)</li>
              </ul>
              <p>
                合計5名様にプレゼントします<br>
                ※追跡入りの標準国際郵便で送ります(箱なし状態で発送します)
              </p>
              <h2>参加規約</h2>
              <ol>
                <li>アカウントの設定はこのアカウントからDMを受けることができることをご確認してください</li>
                <li>発送するための個人情報をお伺いさせて頂きます <br>未成年の方は保護者の同意を得た上でご応募ください</li>
                <li>当選者はこのアカウント(@TTGNavi) から連絡します</li>
                <li>営業日の5日間で連絡が取れなかった場合、当選は無効になります</li>
                <li>このプレゼント企画はTea Time Gamingによってのみ後援されており、YouTube、Facebook、Twitter、またはプレゼント企画が参加できるプラットフォームによって、関連、後援、または代表されることはありません</li>
                <li>このプレゼント企画はやむを得ない事情により中止または内容が変更になる場合はご理解おねがいします</li>
              </ol>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
