
  <div class="current-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="mt-5">Battle Spirits Battle Club</h1>
          <p>Want to find friends to play Remote Battle Spirits together? We got you covered!</p>
          <a class="btn btn-warning" target=”_blank” href="https://discord.gg/ZBzDh9" role="button">Join Battle Spirits BS Club!</a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="mt-5">Events</h3>
          <p>
            <a routerLink="/bs-battle-club/events/first-online-meeting">BS Battle Club First Online Meeting</a>
          </p>
        </div>
      </div>
    </div>
  </div>
