
  <div class="long-content mt-5 pt-3 current-bg">
    <div class="container mb-5">
      <div class="row">
        <div class="col-lg-10">
          <h1>Battle Spirits Battle Club</h1>
          <p>Want to find friends to play Remote Battle Spirits together? We got you covered!</p>
          <a class="btn btn-warning" target=”_blank” href="https://discord.gg/fUvGQSp" role="button">Join Battle Spirits BS Club!</a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="mt-5">Events</h3>
          <p>
            <a routerLink="/bs-battle-club/events/singles-day-tournament">Singles Day Tournament</a>
          </p>
        </div>
      </div>
    </div>
  </div>
